body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d0d0d0;
    overflow: hidden;
}

.header{
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}


.menu{
    background-color: #222;
}
.menu a{
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    border-bottom: 1px solid #666;
    transition: 0.5s;
}
.menu a:hover{
    background-color: #555;
}


.main{
    padding: 20px;
}
.section{
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
.card{
    display: block;
    background: #eee;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
ul{
    padding-left: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th{
    background-color: #ddd;
}


.footer{
    display: block;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.footer p{
    margin: 5px 0;
}



#shrek{
    position: absolute;
    top: 0; left: 0;
    width: 20px; height: 20px;
    background-color: transparent;
    z-index: 100;
    display: flex;
    justify-content: center;
}
#shrek img{
    width: 0;
    opacity: 0;
    align-self: center;
}
#shrek:hover{
    width: 100%;
    height: 100%;
    background-color: white;
}
#shrek:hover img{
    animation-name: shrek;
    animation-duration: 20s;
    animation-fill-mode: forwards;
}
@keyframes shrek {
    0%{
        opacity: 0;
        width: 1%;
        height: 1%;
    }

    50%{
        transform: rotateX(0deg);
    }
    53%{
        transform:rotateX(360deg);
    }

    70%{
        transform:rotateY(0deg);
    }
    90%{
        transform:rotateY(180deg);
    }

    100%{
        opacity: 1;
        width: 200%;
        height: 200%;
        transform:rotateX(0deg);
    }
}

#shrek2{
    position: absolute;
    bottom: 0; left: 0;
    width: 20px; height: 20px;
    background-color: transparent;
    z-index: 100;
    display: flex;
    justify-content: center;
    opacity: 0;
}
#shrek2 img{
    width: 100%;
    height: 100%;
}

#shrek2:hover{
    width: 100%;
    height: 100%;
    opacity: 1;
}


#bebe{
    position: absolute;
    top: 0; right: 0;
    width: 20px; height: 20px;
    background-color: transparent;
    z-index: 100;
    display: flex;
    justify-content: center;
}
#bebe img{
    width: 0;
    opacity: 0;
    align-self: center;
}
#bebe:hover{
    width: 100%;
    height: 100%;
    background-color: white;
}
#bebe:hover img{
    animation-name: bebe;
    animation-duration: 20s;
    animation-fill-mode: forwards;
}
@keyframes bebe {
    0%{
        opacity: 0;
        width: 1%;
        height: 1%;
    }

    99%{
        width: 20%;
        height: 20%;
    }

    100%{
        opacity: 1;
        width: 100%;
        height: 100%;
        transform:rotateX(0deg);
    }
}