*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffffaf;
}

#menu{
    background-color: #ffffffaf;
    position: sticky;
    margin: -20px -38px 50px -38px;
    padding: 2px 0;
}
#menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 0px;
}
#menu ul{
    padding: 0 20px;
}
#menu ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
}
#menu ul li a:hover{
    font-size: 18px;
    font-weight: 600;
    background-color: #000;
    color: #ffffffaf;
    padding: 5px 15px;
    border-radius: 5px;
}
#active{
    font-size: 18px;
    font-weight: 600;
    background-color: #000;
    padding: 5px 15px;
    border-radius: 5px;
}

.slogan{
    justify-self: center;
}

.subTitle{
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 700;
}

.paragraph{
    margin-top: 15px;
    font-size: 25px;
}
.paragraph {
    color: #FFF;
}

#footer{
    bottom: 10px; right: 10px;
    justify-self: right;
    justify-content: end;
    margin-top: 20px;
}
#metalica{
    width: 100%;
    margin-top: 20px;
}
#linha{
    margin-top: 15px;
    font-size: 25px;    
}
